// ==========================================================================
// RESET
// ==========================================================================
//
// A global reset for all standard markup elements.
//

@import "tool-palette";
@import "tool-font-scale";
@import "tool-rem-calc";
@import "tool-global-config";
@import "tool-type-config";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

// ==========================================================================
// BOX SIZING
// ==========================================================================


* {
    box-sizing: border-box;
}

// ==========================================================================
// HTML & BODY
// ==========================================================================

html, body {
    max-width: 100%;
}

html {
    font-size: (type-config('base-size') * 1px); // set the base font size for REM values.
    line-height: calc-line-height(base);
    height: 100%;
    overflow-y: scroll;
}

html {
  line-height: 1;
  background-color: black;
}


body {
    @include font-family(type-config(default-family));
    @include font-scale(base);
    background-color: white;
    color: black;
    min-width: rem-calc(320);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &, * {
        -webkit-text-size-adjust: 100%;
    }
}

// ==========================================================================
// SHIM
// ==========================================================================


*[hidden] { display: none; }

// ==========================================================================
// PARAGRAPHS
// ==========================================================================


p {
    margin-bottom: rem-calc(global-config(base-unit));
}

// ==========================================================================
// BOLD
// ==========================================================================

b,
strong {
    @include font-weight(bold);
}

// ==========================================================================
// ITALIC
// ==========================================================================

em {
    font-style: italic;

    // em tags within em tags should not be italicised.
    em & {
        font-style: normal;
    }
}

// ==========================================================================
// LISTS
// ==========================================================================


ol, ul {
  list-style: none;
}


// ==========================================================================
// TABLES
// ==========================================================================


table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

// ==========================================================================
// HR
// ==========================================================================

hr {
    height: 1px;
    font: 0/0 a;
    border: none;
    background: none;
    background-color: palette(grey);
    margin: rem-calc(20 0);
}

// ==========================================================================
// QUOTES
// ==========================================================================


q, blockquote {
    // quotes: "\201C" "\201D";

//     &:before { content: open-quote; }
//     &:after { content: close-quote; }
}

// ==========================================================================
// IMAGES
// ==========================================================================


img, object, picture {
    max-width: 100%;
    display: block;
}

picture > img {
    width: 100%;
}

a img {
  border: none;
}


// ==========================================================================
// FORMS
// ==========================================================================


input[type="submit"],
input[type="button"],
button {
    line-height: normal;
    -webkit-appearance: none;
    // border: none;
    margin: 0;
}
